# encoding: utf-8
<div id=hero>
  <div class="container">
    <div class="row clearfix">
      <h1 class="hero-text animated fadeInDown">
        Bastos & Corrêa<br>
        <p class="sub-text animated fadeInDown">
          Advogados
        </p>
         <div class="img">
         </div>
      </h1>
    </div>
  </div>
</div>

<div id="missao" class="page-alternate">
<div class="container">
  <div class="row header">
    <div class="col-md-12 lead">
      <h2>Missão e valores</h2>
      <p>O Bastos e Corrêa é um escritório voltado para a prestação de serviços jurídicos de alta qualidade técnica, pautando-se em quatro princípios fundamentais: <b>ética, transparência, agilidade e excelência</b>.

      <p> Contando com advogados especializados, nosso escritório oferece serviços de consultoria e representação administrativa e judicial, especialmente na área de Direito Previdenciário.

        Com tratamento e acompanhamento personalizados, nossos clientes possuem sempre acesso direto ao advogado responsável por sua causa. <p>

      <p> O Direito Fundamental ao acesso à justiça, consagrado pelo advento das Leis 9.099/95 e 10.259/01, massificou a procura da sociedade pela prestação jurisdicional, sendo cada vez maior a busca pela efetivação de Direitos através da via Judicial.

        Neste contexto, com o avanço da tecnologia da informação e a evolução do Direito no Brasil e no Mundo, houve uma exigência natural de mudança na Advocacia moderna, prestigiando-se o profissional especialista em suas áreas de atuação, que se mantém em constante atualização e aprimoramento. </p>

      <p> Por outro lado, manteve-se o anseio por uma prestação ágil, dedicada e eficaz, com atenção pessoal e perfeição artesanal em cada intervenção.

        Este é o perfil profissional implantado no Medeiros Advogados, aliando a eficiência, celeridade e especialidade, com emprego de estratégia, tecnologia e foco, ao desenvolvimento acadêmico e acompanhamento personalizado, atuando sempre com zelo e plena dedicação.
      </p>
    </div>
  </div>
</div>
</div>
    <!--<div class="row">-->
      <!--<div class="col-md-12 slide-wrapper">-->
        <!--<div class="slideshow">-->
          <!--<div class="btn-nav prev"><span class="glyphicon glyphicon-chevron-left"></span></div>-->
          <!--<div class="btn-nav next"><span class="glyphicon glyphicon-chevron-right"></span></div>-->
          <!--<div class="slide">-->
            <!--<%= image_tag 'familia.jpg', :alt => 'Imagem do brownie para presente'%>-->
          <!--</div>-->
          <!--<div class="slide">-->
            <!--<%= image_tag 'prev.jpg', :alt => 'Imagem do brownie para presente'%>-->
          <!--</div>-->
          <!--<div class="slide active">-->
            <!--<%= image_tag 'bg.jpg', :alt => 'Imagem do brownie para presente'%>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
  </div>
</div>

<div id="pricing">
  <!--<div id="container">-->
    <!--<div class="row header">-->
      <!--<div class="col-md-12">-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row feature">-->
      <!--<div class="col-md-6 info">-->

        <!--<p>-->
          <!--Whether you want to fill this paragraph with some text like I'm doing right now, this place-->
          <!--is perfect to describe some features or anything you want - React has a complete solution for you.-->
        <!--</p>-->
      <!--</div>-->
      <!--<div class="col-md-6 image">-->
        <!--<img src="images/feature1.png" class="img-responsive" alt="feature1">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="header">
      <h3>Áreas de atuação</h3>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">

      <div class="col-md-3">
        <div class="thumbnail" style="height:586px">
          <%= image_tag 'familia.jpg',:size => "460x370"  %>
          <div class="caption">
            <h3>Família</h3>
            <ul>
              <li>Inventários;                           </li>
              <li>Testamentos;                           </li>
              <li>Separação consensual e litigiosa;      </li>
              <li>Separação de corpos;                   </li>
              <li>Divórcio;                              </li>
              <li>Busca e apreensão de menores;          </li>
              <li>Guarda de filhos;                      </li>
              <li>Alimentos;                             </li>
              <li>Interdição;                            </li>
              <li>Curatela;                              </li>
              <li>Tutela e outros.                       </li>
              <li>Estatuto da criança e do adolescente.  </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail" style="height:586px">
          <%= image_tag 'prev.jpg' ,:size => "460x380"   %>
          <div class="caption" >
            <h3>Previdenciário</h3>
            <ul>
              <li>Aposentadoria indeferida;                           </li>
              <li>Revisão de benefício;                           </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail" style="height:586px">
          <%= image_tag 'trab.jpg' ,:size => "460x380"   %>
          <div class="caption" >
            <h3>Trabalhista</h3>
            <ul>
              <li>Defesa das empresas nas reclamações trabalhistas movidas pelos empregados;</li>
              <li>Acordos em Sindicatos, com agendamento e acompanhamento até final;</li>
              <li>Cálculos trabalhistas;</li>
              <li>Assessoria na obtenção de vistos permanentes ou temporários de trabalho.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail" style="height:586px">
          <%= image_tag 'militar.jpg',:size => "460x380"    %>
          <div class="caption">
            <h3>Militar</h3>
            <p>Revisão dos descontos efetuados em folha de pagamento limitando o percentual em 30% dos vencimentos mensais.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail" style="height:586px">
          <%= image_tag 'sucessao.jpg',:size => "460x380"    %>
          <div class="caption">
            <h3>Sucessões</h3>
            <ul>
              <li>Inventários;</li>
              <li>Alvará Judicial,</li>
              <li>Testamento.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail" style="height:586px">
          <%= image_tag 'imobi.jpg',:size => "460x380"    %>
          <div class="caption">
            <h3>Imobiliário</h3>
            <ul>
              <li>Ação de despejo;</li>
              <li>Ação de Cobrança;</li>
              <li>Certidões;</li>
              <li>Análise documental de compra e venda,</li>
              <li>Elaboração de contratos.</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="divider"></div>
  </div>
</div>




<!--

<div id="slider">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h3>sdfsdffsdfdf</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 slide-wrapper">
      <div class="slideshow">
          <div class="btn-nav prev"><span class="glyphicon glyphicon-chevron-left"></span></div>
          <div class="btn-nav next"><span class="glyphicon glyphicon-chevron-right"></span></div>
          <div class="slide">
            <%#= image_tag 'presente.jpg', :alt => 'Imagem do brownie para presente'%>
          </div>
          <div class="slide">
            <%#= image_tag 'brownie-cholate.jpg', :alt => 'Imagem do brownie para presente'%>
          </div>
          <div class="slide active">
            <%#= image_tag 'presente.jpg', :alt => 'Imagem do brownie para presente'%>
          </div>
        </div>

      </div>
    </div>
    </div>
    </div>
-->

<div id="testimonials">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h3>Opinião de alguns dos nossos clientes:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="testimonial pull-right">
          <div class="quote">
            Mayara? Conheço.
            <div class="arrow-down">
              <div class="arrow"></div>
              <div class="arrow-border"></div>
            </div>
          </div>
          <div class="author">
            <div class="name">Bill Gates</div>
            <div class="company">Microsoft</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="testimonial">
          <div class="quote">
            Rónaldo!
            <div class="arrow-down">
              <div class="arrow"></div>
              <div class="arrow-border"></div>
            </div>
          </div>
          <div class="author">
            <div class="name">Zina</div>
            <div class="company">Pânico</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="clients">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Obrigado pela visita</h3>
        <p>
          Caso precise de algo mais customizado, não deixa de entrar em contato.
        </p>
      </div>
    </div>
  </div>
</div>



<div id="footer-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 menu">
        <h3>Visão Geral</h3>
        <ul>
          <li>
            <a href="features.html">Sobre a empresa</a>
          </li>
          <li>
            <a href="services.html">Produtos</a>
          </li>
          <li>
            <a href="pricing.html">Preços</a>
          </li>
          <li>
            <a href="support.html">Contato</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2 menu">
        <h3>Redes sociais</h3>
        <ul>
          <li>
            <a href="features.html">Youtube</a>
          </li>
          <li>
            <a href="services.html">Facebook</a>
          </li>
          <li>
            <a href="pricing.html">Twitter</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 newsletter">
        <div class="signup clearfix">
          <p>
            Inscreva-se para receber avisos de promoções e novos produtos.
          </p>
          <form>
            <input type="text" name="email" class="form-control" placeholder="Your email address">
            <input type="submit" value="Inscrever-se">
          </form>
        </div>
      </div>
    </div>
    <div class="row credits">
      <div class="col-md-12">
        Desenvolvido por Raphael Menezes
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $( document ).ready(function() {
        $(".alert").delay(4000).fadeOut("slow", function () { $(this).remove(); });
        $('#form-contato').ketchup();
//        $("#telefone_ddd").mask("(99)").blur(function(event) {
//            var target, phone, element;
//            var ddds =[21,22,24,27,28,11,12,13,14,15,16,17,18,19];
//            target = (event.currentTarget) ? event.currentTarget : event.srcElement;
//            ddd = target.value;
//            if((jQuery.inArray(parseInt(ddd.replace(/\D/g,"")),ddds) == 0)) {
//                $("#telefone").mask("99999-9999");
//            }else{
//                $("#telefone").mask("9999-9999");
//            }
//        });
//        $("#telefone").mask("9999-9999");

        $(document).on('hidden.bs.modal', function () {
            $(".ketchup-error").hide();
        });


        $('#mensagem').keydown(function(event){
            var Length = $(this).val().length;
            var AmountLeft = 2000 - Length;
            $('#contador').text(AmountLeft);
            if(Length >= maxLen){
                if (event.which != 8) {
                    return false;
                }
            }
        });

    });


</script>
